@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="customerForm">
    <form name="customer">
        <img id="cProfilePic" width="100" height="100" /><br>
        <input type="file" id="cProfileImageUploader" name="cProfileImageUploader" accept="image/*" onchange="readURL(this)"/><br><br>
        <input type="text" id="cAccountNumber" name="cAccountNumber" placeholder="Customer Account Number"/><br>
        <input type="text" id="cFirstName" name="cFirstName" placeholder="Customer First Name"/><br>
        <input type="text" id="cLastName" name="cLastName" placeholder="Customer Last Name"/><br>
        <input type="text" id="cPinNumber" name="cPinNumber" placeholder="Customer PIN Number"/><br>
        <input type="text" id="cBalance" name="cBalance" placeholder="Customer Balance"/><br>
        
        
    </form>
    <input type="submit" value="Insert" onclick="insert()" />
    <input type="submit" value="Update" onclick="update()"/>
    <p id="debugTextInsert"></p>
    <br><br><br><br>

</div>

<div id="searchForm">
    <form>
        <input type="text" id="searchByID" name="searchByID" placeholder="Customer Account Number" />
    </form>
    <button id="search" onclick="searchCustomer()">Search</button>

</div>


<div id="deleteForm">
    <form>
        <input type="text" id="deleteByID" name="deleteByID" placeholder="Customer Account Number" />
    </form>
    <button id="deleteUser" onclick="deleteCustomer()">Delete</button><br><br>

    <button id="generateDatabase" onclick="generateDatabase()">Generate Database</button>

</div>





<script>

    var currentImage;

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#cProfilePic')
                    .attr('src', e.target.result)
                    .width(100)
                    .height(100);

                currentImage = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function searchCustomer()
    {
        $.ajax({
            url: '/customers/search/' + $('#searchByID').val(),
            type: 'get',
            contentType: 'application/json',
            processData: false,
            success: function(data, textStatus, jQxhr) {

                var obj = JSON.parse(data);
                $("#cAccountNumber").val(obj.AccountNumber);
                $("#cFirstName").val(obj.FirstName);
                $("#cLastName").val(obj.LastName);
                $("#cPinNumber").val(obj.PinNumber);
                $("#cBalance").val(obj.Balance);
                $("#cProfilePic").attr('src', `data:image/jpg;base64,${obj.ProfileBase64}`);
            },
            error: function(jqXhr, textStatus, errorThrown) {
                alert("Error: Customer not found!");
                console.log(errorThrown);
            }

        });
    }

    function insert()
    {
        $.ajax({
            type: 'POST',
            url: 'customers/insert',
            contentType: 'application/json',
            data: JSON.stringify(
            {
                "AccountNumber": $('#cAccountNumber').val(),
                "FirstName": $('#cFirstName').val(),
                "LastName": $('#cLastName').val(),
                "PinNumber": $('#cPinNumber').val(),
                "Balance": $('#cBalance').val(),
                "ProfileBase64": currentImage
            }),
            success: function(data, textStatus, jQxhr) {
                alert("Data Inserted");
                document.getElementById('debugTextInsert').innerText = "";
            }, 
            error: function(xhr, textStatus, error) {
                alert("Error Adding Customer");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
                document.getElementById('debugTextInsert').innerText = error.toString();
            }
        });
    }

    function update()
    {
        $.ajax({
            type: 'PUT',
            url: 'customers/update',
            contentType: 'application/json',
            data: JSON.stringify(
            {
                "AccountNumber": $('#cAccountNumber').val(),
                "FirstName": $('#cFirstName').val(),
                "LastName": $('#cLastName').val(),
                "PinNumber": $('#cPinNumber').val(),
                "Balance": $('#cBalance').val(),
                "ProfileBase64": currentImage
            }),
            success: function(data, textStatus, jQxhr) {
                alert("Data Updated");
            }, 
            error: function(xhr, textStatus, error) {
                alert("Error Updating Customer");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
                document.getElementById('debugTextInsert').innerText = "ERROR";
            }
        });
    }

    function deleteCustomer()
    {
        $.ajax({
            url: '/customers/delete/' + $('#deleteByID').val(),
            type: 'delete',
            contentType: 'application/json',
            processData: false,
            success: function(data, textStatus, jQxhr) {
                alert("Customer Deleted");
            },
            error: function(jqXhr, textStatus, errorThrown) {
                alert("Error: Customer not found!");
                console.log(errorThrown);
            }

        });
    }

    function generateDatabase()
    {
        $.ajax({
            url: '/customers/generate',
            contentType: 'application/json',
            processData: false,
            success: function(data, textStatus, jQxhr) {
                alert("Database Generated");
            },
            error: function(jqXhr, textStatus, errorThrown) {
                alert("Database Already Generated");
                console.log(errorThrown);
            }
        });
    }
</script>